#introducao {
    text-align: center;
    font-family: 'Bebas neue', sans-serif;
    color: black;
    font-size: 2.5rem;
}


#autor {
    text-align: center;
}

#autor a {
    text-decoration: none;
}

#autor-titulo {
    display: inline;
    font-family: 'Bebas neue', sans-serif;
    padding: 30px;
    font-size: 3.5vw;
    color: black;
}

#autor-titulo:hover {
    color: red;
    transition: 0.7s;
} 

#kentaro {
    width: 35%;
    float: right;
    margin: 80px 3vw 2vh 3vw;
    border-radius: 15px;
}

#obras-bloco {
    margin: 7% 7% 0 7%;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.163);
    font-family: 'Bebas neue', sans-serif;
    border-radius: 15px;
    height: 225px;
}

#obras-titulo {
    float: left;
    font-weight: 800;
    margin-left: 3vw;
    line-height: 100px;
}

#obras {
    float: right;
    margin-right: 8vw;
}

#obras li {
    letter-spacing: 2px;
}

#obras li:hover {
    transition: 0.3s;
    color: red;
}
