.titulo {
    text-align: center;
    font-family: 'Bebas neue', sans-serif;
    color: black;
    font-size: 2rem;
}

#autor {
    text-align: center;
}

#autor a {
    text-decoration: none;
}

#autor-titulo {
    display: inline;
    font-family: 'Bebas neue', sans-serif;
    padding: 30px;
    font-size: 3.5vw;
    color: black;
}

#autor-titulo:hover {
    color: red;
    transition: 0.7s;
} 

#kentaro {
    width: 35%;
    float: right;
    margin: 80px 3vw 2vh 3vw;
    border-radius: 15px;
}

.link-vermelho {
    color: red;
}

#obras-bloco {
    font-size: clamp(1vw, 0.8em, 2vw);
    display: flex;
    flex-direction: row;
    margin: 7% 7% 0 7%;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.163);
    font-family: 'Bebas neue', sans-serif;
    border-radius: 15px;
    height: 225px;
}

#obras-titulo {
    font-size: clamp(1.5vw, 2em, 2vw);
    font-weight: 800;
    
    line-height: 225px;
}

#obras {
    line-height: 20px;
    margin-right: 4vw;
    margin-left: 15vw;
}

#obras li {
    letter-spacing: 2px;
}

#obras li:hover {
    transition: 0.3s;
    color: red;
}
